@import "../../styles/mixins";
@import "../../styles/variables";


.root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include for-size($default-bigger-screen-breakpoint) {
        flex-direction: row;
    }
}

.item {
    width: 50%;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}
