// Typography
$f-primary: 'Roboto', sans-serif;

// Colours
$c-white-rgb: 255, 255, 255;
$c-black-rgb: 0, 0, 0;
$c-text-rgb: 37, 37, 37;

$c-gray-100: 234, 234, 234;

// Sizes
$container-size: 960px;
