@import "../../../../styles/mixins";
@import "../../../../styles/variables";


.card {
    width: 100%;
    margin: 0.5rem 0;

    @include for-size($default-bigger-screen-breakpoint) {
        margin: 1rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.statLabel {
    font-size: 1rem;
}

.statValue {
    font-size: 1.5rem;
}
