.titleWrapper {
    border-bottom: 1px solid var(--c-gray-100);
    margin-bottom: 1rem;
}

.title {
    font-size: 1rem;
    color: var(--c-text);
}

.requestDetails {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 50%;
    margin-bottom: 1rem;
}

.link {
    color: var(--c-link);
    text-decoration: none;
}
