@import "../../styles/mixins";
@import "../../styles/variables";

.root {
    display: flex;
    flex-direction: column;

    @include for-size($default-bigger-screen-breakpoint) {
        flex-direction: row;
    }
}
